{% extends 'EmicroCoreBundle::layout.html.twig' %}

{% block content %}

<div class="row-fluid">

    <div id="sidebar-left" class="span2 sidebar">

        <p>
          <button class="btn btn-block btn-inverse" id="add-project" type="button"><i class="icon-book icon-white"></i> New Project</button>
          <button class="btn btn-block btn-success" id="add-canvas" type="button"><i class="icon-picture icon-white"></i> New Canvas</button>
        </p>

    </div>

    <div class="span7" id="main">
        <h3>Test Canvas</h3>
        <div id="canvas" class="canvas"></div>
    </div>

    <div id="sidebar-right" class="span3 sidebar">
        <div>
            <h4 class="light-header">Add Marker</h4>
            <div class="btn-toolbar">
                <div class="btn-group" data-toggle="buttons-radio">
                    <a href="#" class="btn" data-original-title="Text" rel="tooltip" data-placement="bottom"><i class="icon-font"></i></a>
                    <a href="#" class="btn" data-original-title="Image" rel="tooltip" data-placement="bottom"><i class="icon-picture"></i></a>
                    <a href="#" class="btn" data-original-title="Video" rel="tooltip" data-placement="bottom"><i class="icon-facetime-video"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addProject" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Project</h3>
    </div>
    <div class="modal-body">
        <form>
            <label>Name:</label>
            <input class="span12" type="text" placeholder="Enter project name" name="title" />

            <label>Details (optional):</label>
            <textarea class="span12" name="details" rows="5" placeholder="A short description of the project"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>

<div id="addCanvas" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Canvas</h3>
    </div>
    <div class="modal-body">
        <form>
            <label>Name:</label>
            <input class="span12" type="text" placeholder="Enter canvas name" name="title" />

            <label>Details (optional):</label>
            <textarea class="span12" name="details" rows="5" placeholder="Enter a short description of the canvas"></textarea>

            <label>Image:</label>
            <input type="file" name="image" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>

<div class="clearfix"></div>

{% endblock %}