<div class="marker-info well">

    <h5 class="light-header">
        Marker Information
        <button type="button" class="close">&times;</button>
    </h5>

    <form>

        <div class="control-group">

            <div class="controls">

                <label>Name:</label>
                <input type="text" id="marker-name" placeholder="Enter a short name" value="<%= name %>" style="width: 96%;">

                <% if (type == 'text') { %>
                    <label>Text:</label>
                    <textarea rows="5" placeholder="Enter text (basic HTML allowed)" id="marker-content" style="width: 96%;"><%= details %></textarea>
                <% } else if (type == 'video') { %>
                    <label>Video Embed Code:</label>
                    <textarea rows="5" placeholder="Enter embed code from youtube/vimeo" id="marker-content" style="width: 96%;"><%= details %></textarea>
                <% } else if (type == 'image') { %>
                    <label>Image URL:</label>
                    <textarea rows="5" placeholder="Enter image URL" id="marker-content" style="width: 96%;"><%= details %></textarea>
                <% } %>

                <label>Icon:</label>

                <img src="/img/icons/add.png" class="marker-icon" />
                <img src="/img/icons/asterisk_yellow.png" class="marker-icon" />
                <img src="/img/icons/chart_bar.png" class="marker-icon" />
                <img src="/img/icons/information.png" class="marker-icon" />

                <input type="hidden" id="marker-x" value="<%= x %>" />
                <input type="hidden" id="marker-y" value="<%= y %>" />
                <input type="hidden" id="marker-type" value="<%= type %>" />
                <input type="hidden" id="marker-canvasId" value="<%= canvasId %>" />

            </div>

        </div>

        <div class="control-group">
            <div class="controls">
                <button type="button" class="btn btn-danger delete-marker">Delete</button>
                <button type="button" class="btn btn-primary update-marker">Update</button>
                <span id="marker-progress"></span>
            </div>
        </div>

    </form>

</div>