<div class="row-fluid section-header">
    <h2 class="title left">My Projects</h2>
    <a id="addProjectAction" href="#" class="title-action"><i class="icon-plus"></i> Add New Project</a>
</div>

<ul class="notebooks-list" style="margin-top: 20px;">

    <li class="search-result show">
        <section class="nb-item theme-wooden accent-sienna">
            <header>
                <span class="nb-title"><a class="text link" data-bind="title url" data-bind-url="href" data-bind-title="text title" title="Places I Like" href="#">Places I Like</a></span>
                <aside>
                    <section><span class="count">3</span> <span style="padding-top: 0;">canvas</span></section>
                </aside>
            </header>
            <a class="nb-media" href="#"></a>
        </section>
    </li>

</ul>