body {
    padding-top: 40px;
    background: #FFFFFF url(../img/bg-texture-crosshatch.png) repeat center top;
    overflow-x: hidden;
    overflow-y: auto;
}

body.embed {
    padding: 0;
    background: none;
}

.left {
    float: left;
}

.section-header {
    margin-left: 45px;
    margin-top: 25px;
}

.title {
    font-family: 'Lato', sans-serif;
}

.title-action {
    float: left;
    padding-top: 25px;
    padding-left: 20px;
}

.nb-item span {
    font-family: 'Lato', sans-serif !important;
    padding-top: 35px;
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/sprite.png);
    cursor: pointer;
}

.marker0 {
    z-index: 12;
    background-position: 0 -367px;
}

.marker1 {
    z-index: 11;
    background-position: 0 -390px;
    width:20px;
    height:20px;
}

.marker2 {
    z-index: 10;
    background-position: 0 -410px;
    width:18px;
    height:18px;
}

.marker3 {
    z-index: 9;
    background-position: 0 -428px !important;
    width:16px;
    height:16px;
}

.marker4 {
    z-index: 8;
    background-position: 0 -444px;
    width:14px;
    height:14px;
}

.marker5 {
    z-index: 7;
    background-position: 0 -458px;
    width:13px;
    height:13px;
}

.marker6 {
    z-index: 6;
    background-position: 0 -471px;
    width:11px;
    height:11px;
}

.marker-icon {
    opacity: 0.5;
}

/* Layout and Boxes */
#content .row-fluid, #content .sidebar, #main{
    height: 100%;
}

.sidebar {
    background-color: #f5deb3;
    overflow: auto;
    padding: 15px;
}

#sidebar-left{
    box-shadow: 1px 0 6px #333;
}

#sidebar-right{
    background-color: #ECD6AF;
    box-shadow: inset 0 2px 5px #666;
}

.light-header{color: #a52a2a;}

#sidebar-right .well{
    margin-top: 20px;
    padding: 5px 15px;
    box-shadow: 0 0 5px #666;
    background-color: #eec;
    width: 86%;
}

/* App elements */
#canvas {
    background: #eeeeee no-repeat;
    overflow: auto;
    position: relative;
    box-shadow: 0 0 5px #666;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: crosshair;
}

.main-toolbar {
    margin-top: 20px;
}

.canvas-thumb {
    width: 160px !important;
    height: 150px;
    font-weight: bold;
    color: #a0522d;
    margin: 10px 20px 10px 0 !important;
}

.canvas-thumb div {
    height: 120px;
}